*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  background-color: #f5f4fa;
  font-family: sans-serif;
  font-family: "Roboto", "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: none;
  letter-spacing: none;
  color: #212121;
}

.container {
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.h2-heading {
  white-space: nowrap;
  width: 352px;
  height: 42px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  margin-top: 24px;
  margin-bottom: 25px;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo--blue {
  color: #2196f3;
}
.logo--gray {
  color: #000000;
}
.logo--white {
  color: #ffffff;
}

.header__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.containerr {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.header .header__container {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .navigation__container {
    display: none;
  }
  .contact-info__container {
    display: none;
  }
}
.navigation__container .navigation__text {
  color: inherit;
  text-decoration: none;
}

.navigation__container .navigation__text:hover,
.navigation__container .navigation__text:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  visibility: visible;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  color: #fff;
}

.mobile-menu,
.mobile-contact {
  margin: 0;
  list-style: none;
}

.mobile-menu__container {
  padding: 48px 40px;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.mobile-menu__container .menu-toggle-close {
  position: absolute;
}

.menu-toggle-close {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  outline: none;
  visibility: visible;
}

.mobile-menu .navigation__text {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-decoration: none;
  color: #212121;
}

.navigation__text:hover,
.navigation__text:focus {
  color: #2196f3;
}

.mobile-social {
  margin-right: auto;
  height: 22px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.mobile-social > li:not(:first-of-type)::before {
  position: absolute;
  content: "";
  display: block;
  width: 0px;
  height: 22px;
  margin-left: -10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  padding-top: 260px;
}

.mobile-contact__mail {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.mobile-contact__phone {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */