.card-list__container {
  width: 1170px;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  @extend .list;
}

.card-list__card {
  width: 270px;
  height: 428px;
  background: getColor("bcgnd-primary");
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-list__photo-description {
  @include fontVar(normal, 500, 16px, 100%, 0.03em);
  text-align: center;
  vertical-align: Top;
  margin-top: 30px;
}

.card-list__additional-photo-description {
  @include fontVar(normal, 400, 16px, 100%, 0.03em);
  color: var(--light-gray);
  margin-top: 10px;
  @include flexVar(flex, center, none);
}

.social-icons {
  @include flexVar(flex, center, center);
  list-style: none;
  margin-top: 16px;
  gap: 10px;
}

.social-icons__icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: getColor("bcgnd-primary");
  fill: getColor("svg-fill");

  &:hover,
  &:focus {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: getColor("text-hover");
    border: getColor("text-hover");
    fill: getColor("svg-fill-light");
    cursor: pointer;
    transition: $hovertransition;
  }
}
