.contact-box__container {
  font-style: normal;
}

.contact-box {
  @include fontVar(normal, 400, 14px, 171%, 0.03em);

  &__phone {
    margin-bottom: 60px;
  }

  &__mail,
  &__phone {
    text-decoration: none;
    text-transform: none;
    color: getColor("text-on-darkparts2");
    display: flex;
    margin-top: 9px;
  }

  &__address {
    color: getColor("text-on-darkparts");
    display: flex;
    margin-top: 9px;
  }

  &__mail:hover,
  &__mail:focus,
  &__phone:hover,
  &__phone:focus {
    text-decoration: underline;
    color: getColor("text-hover");
    transition: $hovertransition;
  }
}
