.contact-info__container {
  @extend .list;
}

.contact-info__text {
  text-decoration: none;
  @include fontVar(normal, 500, 14px, 100%, 0.02em);
  color: getColor("text-secondary");
  fill: getColor("text-secondary");
  @include flexVar(flex, center, center);

  &:hover,
  &:focus {
    text-decoration: underline;
    color: getColor("text-hover");
    fill: getColor("text-hover");
    transition: $hovertransition;
  }
}

.contact-info__icons {
  margin-right: 10px;
}

.contact-info:last-child a {
  display: flex;
  margin-left: 50px;
}
