.form-heading {
  width: 448px;
  height: 23px;
  @include fontVar(normal, 700, 20px, 100%, 0.03em);
  text-align: center;
  color: getColor("text-black");
  margin-top: 40px;
  margin-bottom: 12px;
  white-space: nowrap;
}

.data-form {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  width: 528px;
  height: 581px;
}

.data-form svg {
  position: absolute;
  border: none;

  &:focus,
  &:hover {
    border: none;
  }
}

.data-form__input {
  border: none;
  position: relative;
  display: flex;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.data-form__input-box:focus-within .input-hovering,
.data-form__input-box:hover .input-hovering {
  fill: getColor("text-hover");
  transition: transform $hovertransition;
  transition-property: transform;
}

.input-hovering:focus-within,
.input-hovering:hover {
  outline: none;
  border: 1px solid getColor("text-hover");
  border-radius: 4px;
  transition: transform $hovertransition;
  transition-property: transform;
}

.username-svg {
  top: 34px;
  left: 15px;
  fill: getColor("text-black");
}

.phone-number-svg {
  top: 34px;
  left: 14.27px;
  fill: getColor("text-black");
}

.email-svg {
  top: 34px;
  left: 13.5px;
  fill: getColor("text-black");
}

.data-form__label {
  position: relative;
  display: flex;
  width: 448px;
  height: 58px;
  margin-bottom: 10px;
  align-items: center;
}

.data-form__text {
  display: flex;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
  color: getColor("text-secondary");
}

.data-form__label-comment {
  position: relative;
}

.data-form__comment-input {
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  @include fontVar(normal, 400, 12px, 100%, 0.01em);
  color: rgba(117, 117, 117, 0.5);
  resize: none;
  outline: none;
  transition: transform $hovertransition;

  &::placeholder {
    font-family: getFont("font1");
    @include fontVar(normal, 400, 12px, 100%, 0.01em);
    color: rgba(117, 117, 117, 0.5);
  }
}

textarea {
  font-family: getFont("font1");
  @include fontVar(normal, 400, 12px, 100%, 0.01em);
  color: rgba(117, 117, 117, 0.5);
}

.data-form__checkbox {
  position: relative;
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  padding: 0;
  cursor: pointer;
  background-color: getColor("bcgnd-primary");
  border: 2px solid getColor("text-black");
  border-radius: 1.68px;
  margin-top: 20px;

  &-label {
    position: absolute;
    @include flexVar(flex, center, center);
    padding: 0;
    cursor: pointer;
    left: 14px;
  }

  &:checked {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1.68px;
    transition: transform $hovertransition;
    border: none;
  }
}

.hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.statement-text {
  font-size: 14px;
  line-height: 1.71;
  color: getColor("text-secondary");
  margin-top: 20px;
}

.statement-link {
  text-decoration: none;
  color: getColor("text-hover");

  &:hover,
  &:focus {
    text-shadow: 0px 0px 8px #777777;
    transition: transform $hovertransition;
  }
}

.data-form__container .button {
  @include flexVar(flex, center, center);
  position: relative;
  top: 74px;
}
