.footer {
  background: getColor("bcgnd-dark");
  width: 100%;
  height: 100%;
}

.footer__container {
  padding-top: 60px;
  @include flexVar(flex, center, center);
  flex-direction: column;
  padding-bottom: 60px;
}

.text-heading {
  @include fontVar(normal, 700, 14px, 100%, 0.03em);
  text-transform: uppercase;
  color: getColor("text-on-darkparts");
  margin-bottom: 20px;
}

.footer__contact {
  @include flexVar(flex, center, center);
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    @include flexVar(flex, center, center);
  }

  .footer__container {
    @include flexVar(flex, flex-start, flex-start);
    flex-direction: row;
    width: 1200px;
    margin: 0;
    gap: 0px;
    height: 252px;
  }

  .footer__contact {
    margin: 0;
    padding: 0;
    @include flexVar(flex, none, flex-start);
    margin-left: 12px;
  }

  .text-heading {
    margin-top: 0px;
  }
}
