.footer {
  display: flex;
  justify-content: center;
  background: getColor("bcgnd-dark");
}

.footer__container {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
}

.text-heading {
  @include fontVar(normal, 700, 14px, 100%, 0.03em);
  text-transform: uppercase;
  color: getColor("text-on-darkparts");
}

//   logo
//   contact_box
//   social_box
//   signup-form_box
