*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: getColor("bcgnd-secondary");
  font-family: sans-serif;
  font-family: getFont("font1"), getFont("font2");
  @include fontVar(normal, 400, 14px, none, none);
  color: getColor("text-primary");
}

.body__container {
  width: 100%;
  height: 100%;
}

.container {
  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style-type: none;
  display: flex;
}

.h2-heading {
  white-space: nowrap;
  width: 352px;
  height: 42px;
  @include fontVar(normal, 700, 36px, 100%, 0.03em);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
