.header {
  background-color: getColor("bcgnd-primary");
  border: 1px solid getColor("border-header");
}

.header__container {
  @include flexVar(flex, space-between, center);
  flex-direction: row;
  @extend .container;
  width: 100%;
}

.header__leftside {
  @include flexVar(flex, none, flex-start);
  flex-direction: row;
  width: 100%;
}

.header__rightside {
  display: flex;
}

.header__logo {
  justify-items: flex-start;
}

.header__logo {
  width: 145px;
  height: 31px;
  margin-top: 24px;
  margin-bottom: 25px;
}
