.information-box {
    width: 270px;

    &__container {
        background-color: getColor("bcgnd-secondary");
        margin-bottom: 30px;
        width: 270px;
        height: 120px;
        @include flexVar(flex, center, center);
    }

    &__heading {
        @include fontVar(normal, 700, 14px, 100%, 0.03em);
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__text {
        @include fontVar(normal, 400, 14px, 146%, 0.03em);
        color: getColor("text-secondary");
        width: 270px;
        height: 75px;
        align-self: auto;
        margin-bottom: 0;
      }
}





  