.logo-boxes__container {
  list-style: none;
  @include flexVar(flex, center, center);
  gap: 30px;
  margin-top: 50px;
}

.logo-boxes__logo-box {
  @include flexVar(flex, center, none);
  place-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: getColor("svg-fill");

  &:hover,
  &:focus {
    border: 1px solid getColor("text-hover");
    border-radius: 4px;
    fill: getColor("svg-fill-hover");
    transition: $hovertransition;
  }
}
