.main-section {
  @include flexVar(flex, center, none);
  background-color: getColor("bcgnd-primary");
}

.main-section__container {
  flex-direction: column;
  padding-bottom: 0px;
  @extend .container;
  @extend .section;
}

.main-section__information-boxes {
  flex-wrap: wrap;
  column-gap: 30px;
  margin-left: auto;
  margin-right: auto;
  @extend .list;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }
}

.services-section__container {
  @extend .section;
}

@media screen and (max-width: 1199px) {
  .services-section__container {
    display: none;
  }
}
