.mobile-menu,
.mobile-contact,
.mobile-social {
  margin: 0;
  list-style: none;
}

.mobile-menu__container {
  padding: 48px 40px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: -48px;
}

.mobile-menu .navigation__text {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-decoration: none;
  color: getColor("text-primary");
}

.mobile-contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 260px;
}

.mobile-contact__mail {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.mobile-contact__phone {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  visibility: visible;
}

.toglee-cont {
  display: flex;
  justify-content: flex-end;
}

.menu-togglee {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  visibility: visible;
  padding-top: 21px;
  padding-right: 25.33px;
  z-index: 1;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus,
.menu-togglee:hover,
.menu-togglee:focus {
  color: #2196f3;
}

.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-social {
  margin-bottom: 48px;
  margin-right: auto;
  height: 22px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;

  & > li:not(:first-of-type)::before {
    position: absolute;
    content: "";
    display: block;
    width: 0px;
    height: 22px;
    margin-left: -10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mobile-social-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
