.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms ease-in-out, visibility 1000ms ease-in-out;
  visibility: visible;
}

.backdrop__container {
  display: flex;
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: getColor("bcgnd-primary");
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-button__container {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: getColor("bcgnd-primary");
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  pointer-events: visible;

  &:focus,
  &:hover {
    background-color: #c3c7c94e;
  }
}
