.navigation {
}

.navigation__container {
  @extend .list;
}

.navigation__text {
  @include fontVar(normal, 500, 14px, 100%, 0.02em);
  text-decoration: none;
  color: getColor("text-primary");
  margin-right: 46px;

  &:hover,
  &:focus {
    color: getColor("text-hover");
    text-decoration: underline;
    transition: $hovertransition;
  }
}

.navigation__container:first-child {
  margin-left: 93px;
}

.navigation__current-page {
  color: getColor("text-hover");
  position: relative;

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: getColor("text-hover");
    border-radius: 2px;
    pointer-events: none;
    top: 46px;
  }
}
