.navigation__container {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

@media (max-width: 767px) {
  .navigation__container {
    display: none;
  }
  .contact-info__container {
    display: none;
  }
}

.navigation__container .navigation__text {
  color: inherit;
  text-decoration: none;
}

.navigation__container .navigation__text:hover,
.navigation__container .navigation__text:focus {
  text-decoration: underline;
}

.navigation__text:hover,
.navigation__text:focus {
  color: getColor("text-hover");
}

.navigation__container {
  gap: 60px;
}

@media screen and (min-width: 1200px) {
  .navigation__current-page {
    color: getColor("text-hover");
    position: relative;

    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 4px;
      background-color: getColor("text-hover");
      border-radius: 2px;
      pointer-events: none;
      top: 46px;
    }
  }
}
