.nav-buttons__container {
  @include flexVar(flex, center, none);
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  gap: 8px;
}

.nav-buttons__button {
  background: getColor("bcgnd-secondary");
  border-radius: 4px;
  border-color: getColor("bcgnd-secondary");
  @include fontVar(normal, 500, 16px, 162%, 0.03em);
  cursor: pointer;
  @include flexVar(flex, center, none);
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-top: 6px;

  &:hover,
  &:focus {
    border-color: getColor("text-hover");
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: $hovertransition;
  }
}

.nav-buttons__current-button {
  background-color: getColor("text-hover");
  color: getColor("text-on-darkparts");
  border-color: getColor("text-hover");
}
