.overlay {
  @include flexVar(flex, center, none);
  background-color: getColor("bcgnd-dark");
}

.overlay__container {
  @include flexVar(flex, center, none);
  width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/overlay.jpg");
  @extend .container;
  @extend .section;
}

.h1-heading {
  width: 696px;
  height: 120px;
  @include fontVar(normal, 900, 44px, 116%, 0.06em);
  text-align: center;
  text-transform: uppercase;
  color: getColor("text-on-darkparts");
  margin-top: 106px;
}

.overlay__section {
  @include flexVar(flex, center, center);
  flex-direction: column;
}


