.projects-list__container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 56px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  @extend .list;
}

.projects-list__project-box {
  box-sizing: border-box;
  width: 370px;
  background: getColor("bcgnd-primary");
  border: 1px solid getColor("border-projectsbox");

  &:hover,
  &:focus {
    border: 1px solid getColor("border-projectsbox");
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: $hovertransition;
  }
}

.projects-list__pic {
  overflow: hidden;
  position: relative;
}

.projects-list__description {
  @include fontVar(normal, 700, 18px, 200%, 0.06em);
  color: getColor("text-primary");
  margin-top: 20px;
  margin-left: 24px;
}

.projects-list__additional-description {
  @include fontVar(normal, 400, 16px, 188%, 0.03em);
  color: getColor("text-secondary");
  margin-top: 4px;
  margin-bottom: 20px;
  margin-left: 24px;
}

.projects-list__animation {
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  left: inherit;
  top: inherit;
  width: 370px;
  height: 294px;
  transform: translateY(100%);
  @include flexVar(flex, none, center);
}

.projects-list__animation p {
  @include fontVar(normal, 400, 18px, 156%, 0.03em);
  color: getColor("text-on-darkparts");
  width: 301px;
  height: 196px;
  margin-left: 24px;
}

.projects-list__pic:focus .projects-list__animation,
.projects-list__pic:hover .projects-list__animation {
  transform: translateY(-100%);
  transition-duration: 400ms;
  transition: $hovertransition;
}
