.social-box {
  width: 206px;
  height: 80px;
  margin-top: 12px;
  @include flexVar(flex, center, center);
  flex-direction: column;
}

.social-box .social-box__container {
  display: flex;
  width: 206px;
  height: 44px;
  gap: 10px;
  margin-bottom: 60px;
}

.social-box .social-box__icon {
  height: 44px;
  width: 44px;
  border-radius: 0px;
  border-radius: 50%;
  background: getColor("svg-bcgnd-on-dark");
  fill: getColor("text-on-darkparts");

  &:hover,
  &:focus {
    height: 44px;
    width: 44px;
    border-radius: 50px;
    background-color: getColor("text-hover");
    fill: getColor("svg-fill-light");
    cursor: pointer;
    transition: $hovertransition;
  }
}

@media screen and (min-width: 768px) {
  .social-box {
    margin-top: 0;
    margin-left: 144px;
  }
}

@media screen and (min-width: 1200px) {
  .social-box {
    padding-top: 12px;
    margin-left: 70px;
    align-items: flex-start;
  }

  .social-box .social-box__container {
    margin-bottom: 0px;
    width: 206px;
    height: 80px;
    gap: 10px;
  }
}
