.social-box {
  width: 206px;
  height: 80px;
  margin-top: 12px;
  margin-left: 70px;
}

.social-box .social-box__container {
  display: flex;
  width: 206px;
  height: 44px;
  margin-top: 20px;
  gap: 10px;
}

.social-box .social-box__icon {
  height: 44px;
  width: 44px;
  border-radius: 0px;
  border-radius: 50%;
  background: getColor("svg-bcgnd-on-dark");
  fill: getColor("text-on-darkparts");

  &:hover,
  &:focus {
    height: 44px;
    width: 44px;
    border-radius: 50px;
    background-color: getColor("text-hover");
    fill: getColor("svg-fill-light");
    cursor: pointer;
    transition: $hovertransition;
  }
}
